@import "bootstrap/bootstrap.less";

body {
	background: #ededed;
	font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 16px;
  padding-bottom: 60px;
  text-align: center;
}

@import "bootstrap/responsive.less";

* {
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
.flex-caption {width: 96%; padding: 2%; margin: 0; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav { height: 0; }
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(theme/bg_direction_nav.png) no-repeat; position: absolute; top: 50%; cursor: pointer; text-indent: -999em;}
.flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* ===== Primary Styles ========================================================
   Author: meltmedia
   ========================================================================== */

// Headers

h1 {
	color: #353535;
	font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
	font-size: 56px;
	font-weight: 200;
	line-height: 0.9em;
	margin: .5em 0;
}

h2 {
	color: #464646;
	font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
	font-size: 48px;
	font-weight: 200;
	line-height: 42px;
	margin: .5em 0;
}

h3 {
	color: #353535;
	font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
	font-size:30px;
	font-weight: 200;
	line-height: 1em;
	margin: .5em 0;
}

h4 {
	color: #636363;
	font-family: "proxima-nova", Helvetica, Arial, Sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	margin: .5em 0;
}

.btn {
	background: #009dd5;
	border: 1px solid #0086b5;
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	        box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 12px 15px;
	text-shadow: 0 -1px 1px #26739c;
}

.btn:hover {
	background: #0086b5;
	color: #fff;
}

hr {
	background: url(../img/stripe.gif) repeat;
	border: 0;
	height: 7px;
	margin: .75em 0;
	width: 100%;
}

aside {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p {
	font-family: Verdana, Helvetica, Arial, Sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

// Nav

#navbar {
	left: 50%;
	margin-left: -530px;
	position: fixed;
	top: 25px;
	width: 1059px;
	z-index: 9999;

	.nav {
		float: left;
	}

	li {
		background: #f1f1f1;
		border-top: #a1a1a1 1px solid;
		border-bottom: #a1a1a1 1px solid;
		border-right: #a1a1a1 1px solid;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	     -moz-box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	          box-shadow: 0 0 5px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.7);
	  display: inline-block;
		float: left;
		position: relative;

		a {
			color: #898989;
			display: inline-block;
			font-size: 16px;
			padding: 25px 35px;
			text-shadow: 0 1px 1px rgba(255,255,255,.75);
		}
	}

	li.active a:before,
	li.active a:after {
		background: #f1f1f1;
		bottom: -12px;
		border: #a1a1a1 1px solid;
		content: '';
		display: block;
		height: 22px;
		margin-left: -11px;
		position: absolute;
		left: 50%;
		-webkit-transform: rotate(135deg);
		-webkit-background-clip: content;
		-webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
		width: 22px;
	}

	li.active a:after {
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
   		 -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
        		box-shadow: 0 0 5px rgba(0,0,0,.15);
		z-index: -1;
	}

	li:first-child {
		-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
		    -webkit-border-radius-top-left: 3px; /* pre-Safari 5, delete unused */
		 -webkit-border-radius-bottom-left: 3px;
		                -moz-border-radius: 3px 0 0 3px;
		                     border-radius: 3px 0 0 3px;
		border-left: #a1a1a1 1px solid;
	}

	li:last-child {
		-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
		   -webkit-border-radius-top-right: 3px;
		-webkit-border-radius-bottom-right: 3px;
		                -moz-border-radius: 0 3px 3px 0;
		                     border-radius: 0 3px 3px 0;
		
	}

	.bose a {
		background: url(../img/bose-logo.png) center center no-repeat;
		height: 18px;
		width: 135px;
	}

	.buy {
		float: left;
		margin-left: 12px;
		padding: 25px 35px;
	}
}

// Slides

.slide {
	position: relative;
	width: 100%;
}

.container {
	padding-bottom: 60px;
	padding-top: 160px;
	text-align: left;
}

.slide-1 {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	   -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	        box-shadow: 0 0 10px rgba(0,0,0,.4);
	height: 700px;
	z-index: 104;

	hgroup {
		display: inline-block;
		text-align: left;
	}
}

.cycle-nav {
	height: 100%;
	position: absolute;
	width: 20%;
	z-index: 9998;
}

.cycle-nav span {
	background: url(../img/cycle-nav.png) no-repeat;
	display: block;
	height: 135px;
	margin: -57px 0 0 0;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition: all 400ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
	-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
	        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
	top: 50%;
	width: 55px;
	z-index: 9998;
}

.cycle-nav:hover span {
	opacity: 1;
}

#left-nav {
	left: 0;
}

#left-nav span {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
	-webkit-background-clip: padding-box;
	   -webkit-border-radius-top-right: 3px;
	-webkit-border-radius-bottom-right: 3px;
	                -moz-border-radius: 0 3px 3px 0;
	                     border-radius: 0 3px 3px 0;
}

#right-nav {
	right: 0;
}

#right-nav span {
	-webkit-background-clip: padding-box;
	    -webkit-border-radius-top-left: 3px;
	 -webkit-border-radius-bottom-left: 3px;
	                -moz-border-radius: 3px 0 0 3px;
	                     border-radius: 3px 0 0 3px;
	right: 0;
	position: absolute;
}

#hero-slider {
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow:  visible !important ;
	width: 1200px;
}

#hero-slider ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#image-slider {
	display: inline-block;
	height: 100%;
	width: 100%;

	li.hero-hand img {
		margin-left: -10px;
	}

	li {
		display: inline-block;
		position: absolute;
		height: 100%;
		opacity: 0;

		img {
			bottom: 0;
			position: absolute;
		}
	}

	.hero-phone img {
		left: 100px;
	}
}

#text-slider {
	height: 500px;
	position: absolute;
	text-align: left;
	top: 150px;
	right: 5%;
	width: 415px;

	li {
		display: inline-block;
		position: absolute;
		width: 100%;
		opacity: 0;

	}

	li:first-child {
		opacity: 1;
	}
}

.slide-2 {
	background: rgb(233,252,252); /* Old browsers */
	background: -moz-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%, rgba(0,157,213,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(233,252,252,1)), color-stop(100%,rgba(0,157,213,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* IE10+ */
	background: radial-gradient(center, circle cover, rgba(233,252,252,1) 0%,rgba(0,157,213,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9fcfc', endColorstr='#009dd5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding-top: 160px;
	position: relative;
	overflow: hidden;
	z-index: 102;
}

.video-container {
	background: #fff;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
	        box-shadow: 0 0 10px rgba(0,0,0,.5);
	display: block;
	margin: 5% 20%;
	padding: 3px;
	width: auto;
}

#rejecting-the-noise {
	display: none;
}

.parallax {
	position: absolute;
}

#parallax-1 {
	left: 0;
}

#parallax-2 {
	left: 0;
}

#parallax-3 {
	right: -5%;
}

#parallax-4 {
	right: -5%;
}

.slide-3 {
	background: url(../img/stripe.gif) repeat;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	   	 -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	        	box-shadow: 0 0 10px rgba(0,0,0,.4);
	z-index: 103;
}

.gallery-mask {
	overflow: hidden;
}

.slides {
	display: inline-block;
	height: 200px;
	list-style: none;
	margin: 0;
	width: 1300px;

	li {
		border: 1px solid #2c2c2c;
			-webkit-background-clip: padding-box; /* fix WebKit background bleed on border-radius */
			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
			        border-radius: 3px;
		-webkit-box-shadow: inset 0 2px 1px rgba(255,255,255,.4);
			 -moz-box-shadow: inset 0 2px 1px rgba(255,255,255,.4);
			      box-shadow: inset 0 2px 1px rgba(255,255,255,.4); /* inset offset-x offset-y blur spread color */
		display: inline-block !important;
		float: left;
		margin-right: 15px !important;
		width: auto !important;

		img {
			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
			        border-radius: 3px;
			position: relative;
			z-index: -1;
		}
	}

	li:last-child {
		margin-right: 0;
	}
}

#pagi {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;

	ol {
		display: inline-block;
	}

	li {
		float: left;
		margin-right: 12px;

		a {
			background: #c2c2c2;
			border-radius: 25px;
			display: block;
			height: 20px;
			text-indent: -9999px;
			width: 20px;
		}

		a.active {
			background: #464646;
		}
	}

	li:last-child {
		margin-right: 0;
	}
}
.slide-4 {
	z-index: 101;
}

.row .btn {
	margin: .75em 0 .25em 0;
}

.row aside {
	font-size: 10px;
}

@media (max-width: 1100px) {

	#hero-slider {
		width: 100%;
	}

	#navbar {
		margin-left: -336px;
		width: 680px;
	}

	#navbar li a {
		font-size: 12px;
		padding: 20px 15px;
	}

	#navbar li.active a:before,
	#navbar li.active a:after {
		bottom: -9px;
		height: 16px;
		width: 16px;
	}

	#navbar .buy {
		font-size: 12px;
		padding: 20px 15px;
	}

	#navbar .bose a {
		background-size: 108px 14px;
		height: 14px;
		padding: 22px 17px;
		width: 108px;
	}

	.slide-1 {
		background-size: 450px 324px;
		height: 550px;

		hgroup {

			h1 {
				font-size: 42px;
			}

			h2 {
				font-size: 24px;
			}
		}

	}

	.video-container {
		margin: 5%;
	}

	#image-slider .hero-hand img {
		width: 420px;
	}

	#image-slider .hero-phone img {
		width: 300px;
	}

	#text-slider h1 {
		font-size: 48px;
	}

	#text-slider h3 {
		font-size: 24px;
	}

}

@media (max-width: 768px) {
	body {
		padding: 0;
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	#image-slider {
		.hero-hand img {
			width: 400px;
		}

		.hero-phone img {
			left: 25px;
			width: 300px;
		}
	}

	#text-slider {
		width: 300px;

		h1 {
			font-size: 42px;
		}

		h3 {
			font-size: 20px;
		}
	}


}

@media (max-width: 480px) {

	.slide-1 {
		height: 400px;
	}

	#image-slider li.hero-hand img {
		width: 240px;
	}

	#image-slider li.hero-phone img {
		width: 175px;
	}

	#text-slider {
		-webkit-box-sizing: border-box;
     	 -moz-box-sizing: border-box;
     	      box-sizing: border-box;
		top: auto;
		padding: 0 5%;
		left: 2.5%;
		right: auto;
		text-align: center;
		width: 95%;
	}

	#text-slider h1 {
		font-size: 36px;
	}

	#text-slider h3 {
		font-size: 18px;
	}

	.cycle-nav {
		display: none;
	}

	.container {
		padding-top: 30px;
	}

	#navbar {
		display: none;
	}

	#parallax-3,
	#parallax-4 {
		display: none;
	}
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}